html,
body {
	background-color: #fff;
}


/*公共部分*/

.pageSize {
	width: 1100px;
	margin: auto;
}
/*loading*/
.showProgressLoading{
	width: 32px;
	height: 32px;
	margin: 0px auto 10px;
	background-image: url(../img/loading1.gif);
}
/*头部*/
.header_bottom{
	height: 71px;
}
.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	min-width: 1100px;
	height: 71px;
	background-color: #fff;
	border-bottom: 1px solid #dcb306;
	z-index: 9999;
}

.nav {
	position: relative;
	background-color: #fff;
	height: 70px;
}

.nav>li {
	float: left;
	display: block;
	height: 70px;
	/*line-height: 70px;*/
	font-size: 16px;
	color: #8b8b8b;
	border-right: 1px solid #fff;
}
.nav>li>a {
	display: block;
	height: 70px;
	line-height: 70px;
	width:120px;
	text-align: center;;
	color: #8c8c8c;
	transition-duration: 0.2s;
	transition-property: background-color,color;
}
.nav>li>a:hover {
	color: #fff;
	cursor: hand;
	background-color: #fbce00;
}
.nav .active{
	color: #fff;
	background-color: #fbce00;
}
.logo {
	width: 130px;
	color: #fff;
	background-image: url(../img/logo.png);
	background-position: left 19px;
	background-repeat: no-repeat;
}
.logo>a:hover{
	cursor: hand;
	background-color: transparent !important;
}
.orders_search{
	position: absolute;
	width: 180px;
	height: 40px !important;
	line-height: none !important;
	border: 1px solid #f0f0f0 !important;
	margin-left: 15px;
	margin-top: 14px;
	border-radius: 7px;
	right: 0;
}
.orders_search>input{	
	display: inline-block;
	vertical-align: middle;
	width: 140px;
	height: 38px; 
	line-height: 38px;
	font-size: 14px;	
	padding: 0 10px;
	color: #8b8b8b;	
	background-color:#f5f6f6;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}
.orders_search>span{
	display: inline-block;
	vertical-align: middle;
	width: 38px;
	height: 38px; 
	border-left: 1px solid #f0f0f0;
	background-image: url(../img/search.png);
	background-size: 17px 17px;
	background-position: center;
	background-repeat: no-repeat;
}
.about_nav_container {
	position: relative;
	z-index: 99;
}

.about_nav_container:hover {
	background-color: #fff !important;
}

.about_nav_container:hover .about_nav {
	display: block;
}

.about_nav {
	position: absolute;
	left: 0;
	top: 70px;
	width: 100%;
	height: auto;
	border: 1px solid #F2F2F2;
	color: #8c8c8c;
	background-color: #fff;
	z-index: 99;
	display: none;
}

.about_nav>li {
	line-height: 70px;
	text-align: center;
	border-bottom: 1px solid #F2F2F2;
}
.about_nav>li:last-child{
	border: none;
}
.about_nav>li>a:hover {
	width: 100%;
	color:#fff;
	background-color: #fbce00;
}

/*查询订单信息*/
.ordersInfoCon{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;
	background-color: rgba(0,0,0,0.3);
	padding-top: 80px;
	display: none;
}
.ordersInfo{
	position: relative;
	width: 411px;
	height: 577px;
	padding: 80px 13px 20px 20px;
	margin: auto;
	background-image: url(../img/orders_bg.png);
}
.ordersInfo_row{
	border-top: 1px solid #fafbfb;
	padding: 15px 34px;
}
.ordersInfo_row_text{
	color: #b6b6b6;
}
.ordersInfo_bottom{
	position: absolute;
	left: 0;
	bottom: 25px;
}
.ordersInfo_close{
	width: 74px;
	height: 74px;
	margin: 20px auto;
	background-image: url(../img/orders_close.png);
}
.ordersInfo_title{
	text-align: center;
	margin-bottom: 20px;
}
.ordersInfo_title>i,.ordersInfo_title>span{
	display: inline-block;
	vertical-align: middle;
}
.ordersInfo_title>i{
	width: 22px;
	height: 22px;
	background-image: url(../img/orders_set.png);
	margin-right: 5px;
}
.ordersInfo_title>span{
	font-size: 20px;
	color:#FBCE00;
}
.ordersInfo_bottom{
	position: absolute;
	left: 55px;
	bottom: 40px;
	width: 270px;
}
.ordersInfo_bottom_right{
	position: absolute;
	right: 10px;
	bottom: 0;
	font-size: 16px;
	color: #FBCE00;
}
/*底部*/

.footer {
	width: 100%;
	min-width: 1100px;
	background-color: #fbce00;
	padding: 60px 0 30px;
}

.footer_content {
	width: 780px;
	margin: 0 auto 20px;
}
.footer_block {
	float: left;
	vertical-align: top;
	/*width: 160px;*/
	/*height: 220px;*/
	padding: 0 30px;
}
.footer_block_right_border{
	border-right: 1px solid #eabf00;
}
.footer_block>div {
	font-size: 16px;
	margin: 0px 0 4px;
	color: #b99600;
}

.footer_block>ul>li {
	padding: 4px 0;
}
.footer_block>ul>li>a{
	font-size: 14px;
	color: #fef6dd;
	transition-duration: 0.2s;
	transition-property: color;
}
.footer_block>ul>li>a:hover{
	color: #0099FF;
}
.blogroll {
	width: 300px !important;
	_width: 250px !important;
	*width: 250px !important;
}

.blogroll>ul {
	float: left;
}

.blogroll>ul>li {
	float: left;
	width: 80px;
	margin-right: 10px;	
}
.blogroll>ul>li>a{
	display:block;
	width: 100%;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}

.blogroll_more{
	display: inline-block;
	vertical-align: middle;
	margin-left: 3px;
	font-size: 0;
	height: 0;
	border-width: 5px 10px;
	border-style: solid;
	border-color: transparent transparent transparent #b99600;
}
.footer_block>ul>li>a:hover>i{
	border-color: transparent transparent transparent #0099FF;
}
.wxcode {
	text-align: center;
}

.wxcode>img {
	display: inline-block !important;
	width: 130px;
	height: 130px;
}
.wxcode>span{
	font-size: 16px;
	color: #b99600;
}
.banquan {
	font-size: 12px;
	text-align: center;
	padding: 0px 0 0;
	color: #b99600;
}
/*右边悬浮菜单*/
.float_right_con{
	position: fixed;
	right: 10px;
	top: 50%;
	/*width: 120px;*/
	border: 1px solid #eaeaea;
	border-radius: 2px;
	background-color: #fff;
	z-index: 9;
}
.float_right_con>li{
	position: relative;
	padding: 15px;	
	border-bottom: 1px solid #eaeaea;
}
.float_right_con_gf_bg{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.float_right_con>li>i,.float_right_con>li>span{
	display: inline-block;
	vertical-align: middle;
}
.float_right_con>li>i{
	width: 20px;
	height: 20px;
	margin-right: 5px;
}
.float_r_kf{
	background-image: url(../img/float_r_kf.png);
}
.float_r_wx{
	background-image: url(../img/float_r_wx.png);
}
.float_r_fk{
	background-image: url(../img/float_r_fg.png);
}
.float_right_con>li>span{
	font-size: 16px;
	color: #595757;
}
.float_right_con>li:hover{
	background-color: #facd00;
}
.float_right_con>li:hover>i.float_r_kf{
	background-image: url(../img/float_r_kf_w.png);
}
.float_right_con>li:hover>i.float_r_wx{
	background-image: url(../img/float_r_wx_w.png);
}
.float_right_con>li:hover>i.float_r_fk{
	background-image: url(../img/float_r_fg_w.png);
}
.float_right_con>li:hover>span{
	color: #fff !important;
}
.float_right_active{
	background-color: #facd00;
}
.float_right_active>i.float_r_kf{
	background-image: url(../img/float_r_kf_w.png);
}
.float_right_active>i.float_r_wx{
	background-image: url(../img/float_r_wx_w.png);
}
.float_right_active>i.float_r_fk{
	background-image: url(../img/float_r_fg_w.png);
}
.float_right_active>span{
	color: #fff !important;
}
.float_r_wx_content{
	position: absolute;
	right: 100%;	
	border: 1px solid #eaeaea;
	background-color: #fff;
	display: none;
}
.float_r_wx_content>img{
	width: 200px;
	height: 200px;
}
.float_r_wx_em{
	position: absolute;
	right: -1px;
	top: 120px;
	border-style: solid;
	border-width: 8px 16px;
	border-color:transparent #FBCE00 transparent transparent;	
}
.float_r_wx_content_wx{
	padding: 15px;
	top: -102px;
	text-align: center;
}
.float_r_wx_content_fk{
	bottom: 0;
}
.float_r_wx_content_con{
	width: 250px;
}
.float_r_wx_content_title{	
	font-size: 16px;
	text-align: center;
	padding: 15px 0;
	color: #595757;
}
.float_r_wx_content_toggle{
	width: 250px;
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 15px;
}
.float_r_wx_content_toggle>div{
	float: left;
	width: 50%;
	text-align: center;
}
.float_r_wx_content_toggle>div>i,.float_r_wx_content_toggle>div>span{
	display: inline-block;
	vertical-align: middle;
	color: #bcbcbc;
}
.float_r_wx_content_toggle>div>i{
	width: 13px;
	height: 13px;
	background-image: url(../img/float_r_d.png);
	margin-right: 5px;
}
.float_r_wx_content_toggle_iactive{
	background-image: url(../img/float_r_d_h.png) !important;
}
.float_r_wx_content_tousu{
	display: block;
	width: 210px;
	height: 30px;
	line-height: 30px;
	padding: 0 5px;
	margin: 20px auto 0px;
	background-color: #f6f6f6;
	font-size: 12px;
	color: #bcbcbc;
}
.float_r_wx_content_phone{
	width: 210px;
	margin: 10px auto 0;
}
.float_r_wx_content_phone>span{
	float: left;
	width: 60px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	text-align: center;
	background-color: #FBCE00;
}
.float_r_wx_content_phone>input{
	float: left;	
	width: 150px;
	height: 30px;
	line-height: 30px;
	background-color: #f6f6f6;
	font-size: 12px;
	color: #bcbcbc;
	padding: 0 5px;
}
.float_r_wx_content_yj{
	display: block;
	width: 210px;
	height: 100px;
	padding: 15px;
	margin: 10px auto 20px;
	font-size: 12px;
	color: #bcbcbc;
	background-color: #f6f6f6;
	resize: none;
	text-align:justify;
	text-justify:inter-ideograph;
}
.float_r_wx_content_btns{
	
}
.float_r_wx_content_btns>span{
	float: left;
	width: 50%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	background-color: #bcbcbc;
}
.float_r_wx_content_btns_r{
	background-color: #FBCE00 !important;
}
