html,
body {
	background-color: #f7f7f7;
}

.container {
	height: 600px;
	margin: 50px auto;
}

.left {
	float: left;
	width: 700px;
	height: 600px;
	margin-right: 50px;
}

.img_Con,
.info_con {
	height: 290px;
	*height: 260px;
	border: 1px solid #e7e7e7;
}

.img_Con>img {
	width: 100%;
	height: 100%;
}

.info_con {
	margin-top: 20px;
	padding: 30px;
	background-color: #fff;
}

.info_con_title {
	color: #FBCE00;
	font-size: 18px;
	margin-bottom: 10px;
}

.info_nav {
	padding-bottom: 10px;
	border-bottom: 1px solid #e7e7e7;
}

.info_nav li {
	position: relative;
	width: 100%;
	line-height: 20px;
	*line-height: 30px;
}

.info_nav li a {
	max-width: 70%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #888;
}

.info_nav li a:hover {
	color: #0099FF;
}

.info_nav li span {
	position: absolute;
	right: 0;
	color: #888;
}

.right {
	float: left;
	width: 348px;
	height: 600px;
	border: 1px solid #e7e7e7;
	background-color: #fff;
}

.right_nav>li {
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 18px;
	border-bottom: 1px solid #e7e7e7;
}

.paging {
	margin-top: 20px;
}

.paging>a {
	width: 20px;
	height: 20px;
}

.paging>a:hover {
	color: #0099FF;
}

.page_next {
	width: auto !important;
	height: auto !important;
	padding: 5px 10px;
	border-radius: 7px;
	color: #fff;
	background-color: #FBCE00;
}