<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
			.dpbt{
				transform: scale(0.5) rotate(45deg) translateX(-50%);
			}
		</style>
	</head>

	<body>
		<div id="app">
			<p v-bind:style="{color:'red'}" >{{message}}</p>
			<button v-on:click="reverseMessage">逆转消息</button>
			<ol>
				<!--
      现在我们为每个 todo-item 提供 todo 对象
      todo 对象是变量，即其内容可以是动态的。
      我们也需要为每个组件提供一个“key”，稍后再
      作详细解释。
    -->
				<todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id">
				</todo-item>
			</ol>
			<h1 v-if="1">Yes</h1>
			<h1 v-else>No</h1>
			<div v-for="(value, key) in object">
			  {{ key }}: {{ value }}
			</div>
		</div>
		<script src="vue.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			// 定义名为 todo-item 的新组件
			Vue.component('todo-item', {
				// todo-item 组件现在接受一个
				// "prop"，类似于一个自定义特性。
				// 这个 prop 名为 todo。
				props: ['todo'],
				template: '<li>{{ todo.text }}</li>'
			})
			var app = new Vue({
				el: '#app',
				data: {
					message: 'Hello Vue',
					groceryList: [
				      { id: 0, text: '蔬菜' },
				      { id: 1, text: '奶酪' },
				      { id: 2, text: '随便其它什么人吃的东西' }
				    ],
				    styleObject: {
					    color: 'red',
					    fontSize: '13px',
					    transform:'scale(0.5)'
					  },
					   activeColor: 'red',
					    object: {
				      firstName: 'John',
				      lastName: 'Doe',
				      age: 30
				    }
				},
				methods: {
					reverseMessage: function() {
						this.message = this.message.split('').reverse().join('')
					}
				}
			});
		</script>
	</body>

</html>