<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>
		<div id="app">
			<p>{{newTodo}}</p>
			<input v-model="newTodo" v-on:keyup.enter="addTodo">
			<ul>
				<li v-for="todo in todos">
					<span>{{{ todo.text }}}</span>
					<button v-on:click="removeTodo($index)">X</button>
				</li>
			</ul>
			{{ 5 + 15 }}
			<br />
			{{ 1 ? 'YES' : 'NO' }}
			<br />
			{{ 'fdf121'.split('').reverse().join('') }}
			<br />	
			
		</div>
		<div id="app1">
		  <p>{{ message }}</p>
		  <input v-model="message">
		</div>
		<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			new Vue({
				el: '#app',
				data: {
					newTodo: '',
					todos: [{
						text: '双 Mustache 标签将数据解析为纯文本而不是 HTML。<div>为了输出真的 HTML 字符串，需要用三 Mustache 标签：</div>'
					}]
				},
				methods: {
					addTodo: function() {
						var text = this.newTodo.trim()
						if (text) {
							this.todos.push({
								text: text
							})
							this.newTodo = ''
						}
					},
					removeTodo: function(index) {
						this.todos.splice(index, 1)
					}
				}
			})
			new Vue({
			  el: '#app1',
			  data: {
			    message: 'Hello Vue.js!'
			  }
			})
		</script>
	</body>

</html>